.class1{
  float: right;
}
.right{
  text-align: right;

}
h1{
  text-align: center;
  color: darkred;
  text-shadow: 2px 2px 0 yellow;
}
h2{
  text-align: center;
  color: darkred;
  text-shadow: 2px 2px 0 yellow;
}
h4{
  color: darkred;
  text-shadow: 2px 2px 0 yellow;
  text-align: center;
}
.about{
  background-color: #FAF0E6;
}
.hobbies{
  font-size: 20px;
  font-weight: 600;
  background-color: #fff5ee;
}
ol{
  text-align: center;
}
li {
   padding: 10px;
   list-style: none;
}

#menu {
    margin: 21px 646px 21px 646px;
}
ul{
  text-align: center;
  font-weight: 600;
}
body{
  background-image: url(http://3.bp.blogspot.com/-E3EqVe0Ozpk/Ti62e6NzpxI/AAAAAAAAIZ0/7YwnwJ-OHTk/s1600/CBAW.co.cc+Colourful+Art+Wallpapers+%252816%2529.jpg);
  background-color: #F5F5F5;
}
.project{
  background-color: white;
}
.about {
  border-left: 2px red;
  border-right: 4px blue;
  border-top: 6px orange;
  border-bottom: 8px black;
}
.about {
  border: 2px solid lightgreen;
  padding: 6px;
  margin: 20px;
}
.hobbies {
  border: 2px solid lightblue;
  padding: 6px;
  margin: 20px;
}
.project {
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
}
